@charset "utf-8";
/* typecho user V2.00 */
/* 风格切换CSS文件 */
a{color:#467B96;}
#typecho-nav-list{background:#fff;}
.typecho-head-nav a {color:#333;}
.user-info{color:#999;}
.typecho-head-nav a:hover, .typecho-head-nav a:focus{color:#333}
#tonav a:focus,#tonav a:hover{color:#fff}
.typecho-head-nav .operate{background:#6777ef}
.user-info{background:url(/user/nav-bg1.jpg);
background-repeat:no-repeat;
background-size:100%;
height:150px;
border:none;
color:#fff;}
.user-info a{color:#fff;}
.primary{background-color:#6777ef;}
.user-nav li ul{background:#f3f2f2;}
.user-nav li a:hover{color:#6777ef;}
.user-nav li ul li a:hover{background:#6777ef}
.typecho-head-nav .operate a:hover{background: #5562c1;}
.primary:hover{background: #5562c1;}
.user-nav .fa-angle-down{float:right;
margin-top:10px;
margin-right:15px;}
.welcome-board{font-size:1.0em;}
@media all and (max-width: 600px) {
	.user-info{display:none;}
	#typecho-nav-list{padding-top:20px;
	width:200px;}
	.user-nav li a{text-indent:0.5em;}
	.user-nav li ul li a{text-indent:1.5em;}
	.typecho-page-title{height:auto;}
	.typecho-page-title h2{margin:15px 0px;}
	.container{padding:0px 20px;}
	.typecho-page-main{padding:15px;}
}
